/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}



html {
    scroll-behavior: smooth;
}

p {
    color: rgb(253, 253, 253);
}

/* style links */

a:link {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

a:visited {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

a:hover {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-size: 120%;
}

a:active {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

/* transition */

a,
.btn {
    transition: all 70ms ease
}

/*logo*/

header, .l4z {
    display: flex;
}

header {
    justify-content: center;
    align-items: center;
    height: 18vh;
}

header,
.l4z {
    font-size: 4.5rem;
    color: whitesmoke;
    font-weight: bold;
}

.l4z:hover {
    cursor:default;
}

/*nav*/

nav,
.navbar-nav {
    display: flex;
}

nav {
    justify-content: center;
    align-items: stretch;
    height: 80px;
}

nav,
.navbar-nav {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* gallery */

.gallery{
    width: 73%;
    margin: 20px auto 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
    cursor: pointer
}

.abt{
    width: fit-content;
    margin: 20px auto 200px ;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    color: rgb(107, 107, 107);
    font-weight: bold;
}
#preloadedImages
{
    visibility: hidden;
    display: inline;
    background-image: url(images/atj.png);
    background-image: url(images/bjork.png);
    background-image: url(images/norton.png);
}